<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>WEBITJOB</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="assets/css/flexslider.css" rel="stylesheet" />
    <link href="assets/css/style1.css" rel="stylesheet" />    
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
</head>
<body >
   
 <div class="navbar navbar-inverse navbar-fixed-top " id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo-custom" src="assets/img/logo180-50.png" alt=""  /></a>
            </div>
            <div class="navbar-collapse collapse move-me">
            </div>
           
        </div>
    </div>
       <div class="home-sec" id="home" >
           <div class="overlay">
 <div class="container">
           <div class="row text-center " >
           
               <div class="col-lg-12  col-md-12 col-sm-12">
               
                <div class="flexslider set-flexi" id="main-section" >
                    <ul class="slides move-me">
                        <li>
                              <h3>IT Job For Life </h3>
                           <h1>105 Java/PHP Developers (Junior~Senior)</h1>
                            <form class="form-search">
                                <input type="text" class="input-text" name="q" id="search" placeholder="Search products...">
                                <div class="dropdown">
                                    <button type="button" class="btn" data-toggle="dropdown">All category <span class="fa fa-angle-down"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#">Computer</a></li>
                                        <li><a href="#">Camera</a></li>
                                        <li><a href="#">Smart Phone</a></li>
                                        <li><a href="#">Electronic</a></li>
                                    </ul>
                                <button type="submit" class="btn btn-danger"><span class="fa fa-search"></span></button>
                            </form>
                            
                        <li>
                            <h3>IT Job For Life </h3>
                           <h1> 55+ Software Developer (C/ PHP/ Java)</h1>
                        
                        </li>
                        
                        <li>
                            <h3>IT Job For Life </h3>
                           <h1>1110 job develloper </h1>
                         </li>
                             
                         <li> 
                              <h3>IT Job For Life </h3>
                           <h1>And many other IT jobs</h1>
                            
                        </li>
                    </ul>
                </div>
                   
     
              
              
            </div>
                
               </div>
                </div>
           </div>
           
       </div>
        
         <div id="features-sec" class="container set-pad" >

             </div>
             

           <div class="row" >
           
               
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                     <div class="about-div">
                     <i class="fa fa-paper-plane-o fa-4x icon-round-border" ></i>
                   <h3 >JOB BY COMPANY </h3>
                 <hr />
                       <hr />
                   <p > <br> Java </br> 
                        <br> PhP </br>
                       <br>.Net </br>
                       <br> Tester</br>
                       <br> Anroid </br>
                       <br> IOS </br>  
                   </p>
               <a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>
                </div>
                   </div>
                   <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
                     <div class="about-div">
                     <i class="fa fa-bolt fa-4x icon-round-border" ></i>
                   <h3 >JOB BY TITLE </h3>
                 <hr />
                       <hr />
                   <p >
                       <br> Senior Java Developer </br> 
                        <br> System Engineer </br>
                       <br>Project Manager </br>
                       <br> Software Architect</br>
                       <br> QA QC Manager </br>
                       <br> Mobile Developer </br>
                   </p>
               <a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>
                </div>
                   </div>
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                     <div class="about-div">
                     <i class="fa fa-magic fa-4x icon-round-border" ></i>
                   <h3 >JOB BY SKILL</h3>
                 <hr />
                       <hr />
                   <p >
                    <br> Evolable Asia </br> 
                        <br> VPBank </br>
                       <br>Robert Bosch Engineering  </br>
                       <br> And Business Solutions</br>
                       <br> MISFIT </br>
                       <br> Framgia Inc </br>
                       
                   </p>
               <a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>
                </div>
                   </div>
                 
                 
               </div>
             </div>
    <div id="faculty-sec" >
    
     <div class="container">
             <div class="row set-row-pad"  >
    <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1 " data-scroll-reveal="enter from the bottom after 0.4s">

                    <h2 ><strong>Our Location and Infomation </strong></h2>
        <hr />
                    <div ">
                        <h4>234/50 Nguyen Cong Tru ,Quan 5 , Ho Chi Minh City</h4>
                        <h4>Viet Nam</h4>
                        <h4><strong>Call:</strong>  +969995475 </h4>
                        <h4><strong>Email: </strong>itjob@edu.uit.edu.vn</h4>
                    </div>


                </div>
                 <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1" data-scroll-reveal="enter from the bottom after 0.4s">

                    <h2 ><strong>Social Conectivity </strong></h2>
        <hr />
                    <div >
                        <a href="#">  <img src="assets/img/Social/facebook.png" alt="" /> </a>
                     <a href="#"> <img src="assets/img/Social/google-plus.png" alt="" /></a>
                     <a href="#"> <img src="assets/img/Social/twitter.png" alt="" /></a>
                    </div>
                    </div>


                </div>
                 </div>
    <div id="footer">
          2017 itjob@edu.uit.edu.vn | www.facebook.com/nhieu.vo.3150 |  <a href="http://binarytheme.com" style="color: #fff" target="_blank">Phone : 0969995475 </a>
    </div>
    <script src="assets/js/jquery-1.10.2.js"></script>
    <script src="assets/js/bootstrap.js"></script> 
         <script src="assets/js/jquery.flexslider.js"></script>
    <script src="assets/js/scrollReveal.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
         <script src="assets/js/custom.js"></script>
</body>
</html>
