{{define "content"}}
<div class="wrapper" style="background-color: #D3D3D3">
	<div class ="container" style="margin-top: 3.6em;background-color: white">
		{{range $index, $element := .}}
			{{if eq $index "job-detail"}}
				<div class="row" >
					<div class="show-content">
						<div class ="main-content">
							<div class="content">
								<div class="col-md-4" style="border: 1px solid #D8D8D8;border-right: 0">
									<div class="side_bar">
										<div class="inside">
											<div class="logo">
												<a href="#" title="VNG" >
													<img src={{.ImgComp}} width="100%" height="200"></a>
											</div>
											<div class="emloyer-info">
												<div class="name" style="text-align: center;">
													<a href="/company/{{.NameComp}}" title="VNG">{{.NameComp}}</a>
												</div>
												<div class="basic-info">
													<div class="short">VNG là công ty công nghệ Việt Nam, thành lập năm 2004. VNG có 3 mảng sản phẩm chính: nội dung số bao gồm tin tức, đào tạo và giải trí trực tuyến, liên kết cộng đồng và thương mại điện tử.</div>

													<span class="glyphicon glyphicon-cog"></span>
													<span class="kind" style="padding-right: 230px">Product</span>
													<span class="glyphicon glyphicon-user"></span>
													<span class="people" style="padding-right: 230px">300-500</span>
													<span class="glyphicon glyphicon-calendar"></span>
													<span class="calendar" style="padding-right: 160px">Monday to Friday</span>
													<span class="glyphicon glyphicon-time"></span>
													<span class="OT">No OT</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-8" style="border: 1px solid #D8D8D8;">
									<div class="job-detail" >
										<div class="header">
											<div class="job-info">
												<h1 class="job_title">{{.Title}}</h1>
												<div class="tab-list">
													{{range .Skill_name}}
														<a class="job__skill ilabel" href="/jobskill/{{.}}">
															<span>{{.}}</span>
														</a>
													{{end}}
												</div>
												<div class="clearfix"></div>
												<div class="salary">
													<span class="glyphicon glyphicon-usd"></span>
													<span class="salary-text"> {{.Salary}}</span>
												</div>
												<div class="address">
													<span class="glyphicon glyphicon-map-marker"></span>
													<span class="address__full-address" >{{.Address}}</span>
												</div>
												<span class="glyphicon glyphicon-calendar"></span>
												<span class="calendar">{{.Time_posted}}</span>
												<div class=clearfix></div>
												<hr />
											</div>
										</div>
										<div class="job_reason_to_join_us">
											{{range $index, $element := .Job_reason_map}}
												{{if eq $index "title"}}
                                                	<h2 class="title">{{$element}}</h2>
												{{end}}
											{{end}}
                                            {{range $index, $element := .Job_reason_map}}
                                                {{if eq $index "content"}}
                                                    <div class="top-3-reason">
                                                        <ul>
                                                            {{range $element}}
                                                                <li>{{.}}</li>
                                                            {{end}}
                                                        </ul>
                                                    </div>
                                                {{end}}
                                            {{end}}
										</div>
										<div class=job_description>
											{{range $index, $element := .Job_description_map}}
												{{if eq $index "title"}}
													<div class="title-apply-line">
														<h2 class="title">{{$element}}</h2>
													</div>
												{{end}}
											{{end}}
											{{range $index, $element := .Job_description_map}}
                                                {{if eq $index "content"}}
													<div class="description">
														<div>
															<ul>
															{{range $element}}
																<li>{{.}}</li>
															{{end}}
															</ul>
														</div>
													</div>
												{{end}}
											{{end}}
										</div>
										{{/*<div class="skills-experience">*/}}
											{{/*{{range $index, $element := .Skill_expirence_map}}*/}}
													{{/*<h1>{{$index}}</h1>*/}}
												{{/*{{if eq $index "title"}}*/}}
														{{/*<h2 class="title">{{$element}}</h2>*/}}
												{{/*{{end}}*/}}
											{{/*{{end}}*/}}
                                            {{/*{{range $index, $element := .Skill_expirence_map}}*/}}
                                            {{/*{{if eq $index "content"}}*/}}
                                                {{/*<div class="experience">*/}}
                                                    {{/*<ul>*/}}
                                                    {{/*{{range $element}}*/}}
                                                        {{/*<li>{{.}}</li>*/}}
                                                    {{/*{{end}}*/}}
                                                    {{/*</ul>*/}}
                                                {{/*</div>*/}}
                                            {{/*{{end}}*/}}
										{{/*</div>*/}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!--End Row-->
			{{end}}
		{{end}}

		<div class="relative-job" style="margin-bottom: 5em">
			<h2 class="title">More Jobs For You</h2>
			{{range $index, $element := .}}
				{{if eq $index "jobs"}}
					{{template "summaryjob" $element}}
				{{end}}
			{{end}}
        </div> <!--End Relatied Jobs-->
    </div>	
</div>
{{end}}