{{define "subcontent"}}
    {{range .}}
        <div class="jobs" id={{.Id}}> <!--id là mã tin-->
        <div class="job_contest" style="background-color: white">
            <div class="logo">
                <div class="logo-wrapper" title={{.Title}}>
                    <img src={{.ImgComp}} width="90" height="90" style="margin: 10px;padding: 10px">
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="job_description">
                <div class="job_body">
                    <div class=details>
                        <h2 class="title">
                            <a href="/job/{{.Title}}/{{.Id}}">{{.Title}}</a>
                        </h2>
                        <div class="salary">
                            <span class="glyphicon glyphicon-usd"></span>
                            <span class="salary-text">{{.Salary}}</span>
                        </div>
                        <div class="hidden-xs"></div>
                        <ul>
                        {{range .Job_description}}
                            <li class="description">{{.}}</li>
                        {{end}}
                        </ul>
                        <div class="visible-xs"></div>

                        <div class="city_and_posted_date hidden-xs">
                            <div class="city">
                                <div class="address">
                                    <div class="other_address">{{.Address}}</div>
                                </div>
                            </div>
                            <div class="distance-time-job-posted">
                                <span class="distance-time">{{.Time_posted}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="job-bottom">
                        <div class="tab-list">
                            {{range .Skill_name}}
                                <a class="job__skill ilabel" href="/jobskill/{{.}}">
                                    <span>{{.}}</span>
                                </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}
{{end}}