a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;

}
a:hover{
    color: red;
    text-decoration: none;
}

/*=====================================
  FACULTY STYLES 
  ===================================*/

#faculty-sec {
    background-color: #000;
    color: #fff;
    
}

    #faculty-sec .header-line {
        color: #fff;
    }
.faculty-div h4 {
    line-height:30px;
    font-weight:700;
}
.faculty-div {
    padding: 30px;
}

.faculty-div hr {
    border: 1px solid #1A94C4;
}

.faculty-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.faculty-div p {
    padding-top: 10px;
    padding-bottom: 15px;
}

.faculty-div img {
    border: 10px double #fff;
}

/*#image-404 img{*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/
/*Job Recommed*/


.job-recommed{
    clear: both;
}
.jobs .job_contest{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    position: relative;
    border: 2px solid #e7e7e7;
/*    border-top: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;*/ 
    overflow: hidden;
    font-weight: 400;
    padding: 27px 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    margin-bottom: 2px;
    


}
.jobs .job_contest:hover{
    box-shadow: inset 0px 0px 10px grey;
}
.job .job_content .logo {
    margin: 4px 30px 0 25px;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block; 
    clear: both;
}
.job__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    padding-left: 15px;
}
.job__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.job .job_content .details {
    font-size: 13px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.job .job_content .details .title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.job .job_content .details .title a {
    color: #ea2635;
    text-decoration: none;
}
.job_content .title {
    font-family: "Roboto", sans-serif;
}

.title {
    color: #353535;
    line-height: 35.2px;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title, h1 {
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h2 {
    font-size: 11pt;
    margin: 0;
}

h2, .h2 {
    font-size: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.job .job_content .city_and_posted_date {
    font-size: 13px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 100px;
}

.job .job_content .details .salary {
    display: inline-block;
    margin: 0;
    width: 210px;
}

.salary {
    font-size: 14px;
    color: #68ba50;
    margin-bottom: 10px;
}
.salary .salary-text {
    margin-left: 21px;
    position: relative;
    top: 3px;
}
.job .job_content .city_and_posted_date .city {
    color: #a6a8ab;
    display: block;
}
.job .job_content .city_and_posted_date .distance-time-job-posted {
    font-size: 13px;
}
.job .job_content .details .description {
    margin-top: 10px;
    color: #727272;
    text-align: justify;
    overflow: hidden;
    width: 100%;
    line-height: 1.3em;
}
.job .job_content .job-bottom {
    margin-top: 12px;
    width: 100%;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 20px;
}
.job .job_content .job-bottom .tag-list {
    margin: 0;
    display: inline-block;
}
.job .title, .job .description, .job .employer, .job .category, .job .skill_tags {
    margin-right: 40px;
}
.ilabel:visited {
    color: #575656;
}

.ilabel {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0 10px 0 0;
    padding: 4px 5px;
    background: transparent;
    border: 1px solid #D2D3D3;
    color: #575656;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    line-height: 100%;
    display: inline-block;
}


/*Company Recommmed*/

.company-recommed{
    clear: both;
}
.company-recommed{
    
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}

#top-company{
    color:black;
    border: 1px solid #D8D8D8;
    background: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    margin-top: 30px;

}
#top-company:hover{
    box-shadow: 5px 5px 5px grey;
}

.top-company__logo{
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 170px;
}

.top_company_name{
    margin-top: 10px;
    font-size: 20px;
    height: 60px;
}

footer.top-company__footer{
    margin-top: 20px;
}
.top-company__footer-job{
    font-size:16px;
}
.text-center{
    text-align: center;
}
.red-link{
    color: red;
}
div{
    display: block;
}













/*Thanh Search*/
.form-search input.input-text {
    background-color: transparent;
    ;
    border: 0 none;
    color: #d8373e;
    float: left;
    font-weight: 700;
    font-size: 16px;
    height: ̀50px;
    line-height: 34px;
    padding: 10px 20px;
    width: 500px;
}
.form-search input.input-text::-moz-placeholder {
    color: #d8373e;
    opacity: 1;
}
.form-search input.input-text:-ms-input-placeholder {
    color: #d8373e;
}
.form-search input.input-text::-webkit-input-placeholder {
    color: #d8373e;
}
.form-search .dropdown {
    float: left;
}
.form-search .dropdown .btn {
    border: 0;
    border-left: 3px solid #e1e1e1;
    background-color: transparent;
    border-radius: 0;
    font-size: 13px;
    margin: 10px 0;
    line-height: 20px;
    padding: 7px 15px;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    outline: none!important;
}
.form-search .dropdown .btn .fa {
    font-size: 30px;
    display: inline-block;
    line-height: 17px;
    vertical-align: middle;
    color: #a5a5a5;
    margin-left: 7px;
}
.form-search .dropdown-menu {
    margin-top: 2px;
}
.form-search .btn {
    font-size: 22px;
    padding: 12px 19px;
    line-height: 30px;
}

/*Footer*/
.infopage, .footertop {
    width: 100%;
    float: left;
    margin-bottom: -4px;
}

/*Menu*/
@media (min-width: 767px) {
   .navbar-nav .dropdown-menu .caret { transform: rotate(-90deg);}
}

/*Sign in*/

.sign-in-action-wrapper {
    padding: 0 10px 10px;
}

    .sign-in-action-wrapper .sign-in-button {
        height: 50px;
        font-size: 18px;
        color: #FFF;
        width: 100%;
        padding: 2px;
        line-height: 45px;
        cursor: pointer;
    }

    .sign-in-action-wrapper .gplus {
        background-color: #CC3E2F;
        margin-bottom: 15px;
    }

    .sign-in-action-wrapper .facebook {
        background-color: #4C66A4;
    }

.tab-content {
    text-align: center;
}

    .tab-content .hr {
        position: relative;
        text-align: center;
        margin: 14px 0;
        height: 0;
        width: 100%;
        padding-bottom: 14px;
    }

        .tab-content .hr > span {
            text-align: center;
            display: inline-block;
            position: relative;
            padding: 2px 10px;
            top: -1.9em;
            line-height: 1em;
            background-color: white;
        }

    .tab-content .message {
        margin-bottom: 20px;
        font-size: 19px;
    }



.ibutton {
    border-radius: 5px;
    clear: both;
    text-align: center;
    outline: 0;
    border: 0;
}



    .ibutton.x-large {
        padding: 10px 70px;
        font-size: 20px;
        cursor: pointer;
        width: auto;
    }

.ibutton-red {
    background-color: #EA1E30;
    color: white;
}

/*Summary */
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}
element.style {
    margin-top: 3px;
    margin-left: 80px;
    margin-right: 90px;
}
.modal-open[style] {
padding-right: 0px !important;
}