/*==Sytle cho trang main==*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*== tiền tố hỗ trợ firefox phien bản cũ ==*/
    -webkit-box-sizing: border-box; /*== tiền tố hỗ trợ GoogleChrome,Opera phien bản cũ ==*/
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333;
    line-height: 1.254;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/*a:hover, a:visited{
	background: #696969;
	color: #000000;
}*/

/*==Phân khu website==*/
#container {
    padding-bottom: 150px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#logo {
    width: 20%;
    float: left;
    padding-left: 30px;
}

/*Main menu*/
#menu {
    height: 400px;
    padding-left: 70px;
    padding-right: 70px;
    background: #F8F8FF;
    overflow: auto;
}

#main-menu {
    width: 80%;
    float: right;
    height: 200px;
}

#slogan {
    color: #8997a0;
    font-size: 0.9em;
}

#main-menu ul {
    background: #000000;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

    #main-menu ul li {
        line-height: 3.8em;
        height: 3.8em;
        width: 150px;
        display: inline-table;
        transition: all 1s;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        position: relative;
    }

        #main-menu ul li a {
            text-decoration: none;
            display: block;
            color: #FFFFFF;
            padding: 0;
            border-bottom: 1px solid #333;
        }

        #main-menu ul li:hover {
            background: #454545;
        }

        #main-menu ul li > .sub-menu-title {
            display: none;
            position: absolute;
        }

        #main-menu ul li:hover .sub-menu-title {
            display: block;
        }

        #main-menu ul li > .sub-menu-skill {
            display: none;
            position: absolute;
        }

        #main-menu ul li:hover .sub-menu-skill {
            display: block;
        }

        #main-menu ul li > .sub-menu-company {
            display: none;
            position: absolute;
        }

        #main-menu ul li:hover .sub-menu-company {
            display: block;
        }

/*Thanh Search*/
#finding {
    height: 150px;
    background: #F5F5F5;
    overflow: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; /* remove the search and cancel icon */
}

input {
    outline: none;
}
    /* search input field */
    input[type=search] {
        background: #ededed url(img/search-icon.png) no-repeat 9px center;
        border: solid 1px #ccc;
        padding: 9px 10px 9px 32px;
        width: 200px;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }

        input[type=search]:focus {
            width: 500px;
            background-color: #fff;
            border-color: #6dcff6;
            -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
            -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
            box-shadow: 0 0 5px rgba(109,207,246,.5);
        }

    /* placeholder */
    input:-moz-placeholder {
        color: #999;
    }

    input::-webkit-input-placeholder {
        color: #999;
    }
/*Company Recommmed*/
.row {
    overflow: hidden;
    margin: 1.5em auto;
}

    .row .col {
        float: left;
        width: 30.333%;
        margin-right: 2em;
    }
#footer{
    font-size: 85%;
    border-top: 1px solid #e6e6e6;
    color: #838383;
    padding: 1em 1em; 
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
}


/*style commpany*/
.top-companys {
    margin-top: 20px;
    margin-bottom: 0px;
    margin: auto;
    max-width: 1024px;
}

    .top-companys .row {
        overflow: visible;
    }

        .top-companys .row > div {
            padding: 20px;
        }


    .top-companys .top-company {
        background: #e9e9e9;
        display: block;
    }

        .top-companys .top-company:hover {
            box-shadow: 0 0 20px gray;
            border: gray 1px;
        }

        .top-companys .top-company > .top-company-name {
            margin-top: 20px;
            height: 56px;
        }

        .top-companys .top-company > .top-company-footer {
            margin-top: 20px;
        }

.title {
    font-size: 20px;
    font-weight: bold;
}

.top-company {
    padding: 20px;
    color: black;
}

/*end style commpany*/
.right {
    float: right;
}

.sign-in-action-wrapper {
    padding: 0 10px 10px;
}

    .sign-in-action-wrapper .sign-in-button {
        height: 50px;
        font-size: 18px;
        color: #FFF;
        width: 100%;
        padding: 2px;
        line-height: 45px;
        cursor: pointer;
    }

    .sign-in-action-wrapper .gplus {
        background-color: #CC3E2F;
        margin-bottom: 15px;
    }

    .sign-in-action-wrapper .facebook {
        background-color: #4C66A4;
    }

.tab-content {
    text-align: center;
}

    .tab-content .hr {
        position: relative;
        text-align: center;
        margin: 14px 0;
        height: 0;
        width: 100%;
        padding-bottom: 14px;
    }

        .tab-content .hr > span {
            text-align: center;
            display: inline-block;
            position: relative;
            padding: 2px 10px;
            top: -1.9em;
            line-height: 1em;
            background-color: white;
        }

    .tab-content .message {
        margin-bottom: 20px;
        font-size: 19px;
    }



.ibutton {
    border-radius: 5px;
    clear: both;
    text-align: center;
    outline: 0;
    border: 0;
}

    .ibutton.x-large {
        padding: 10px 70px;
        font-size: 20px;
        cursor: pointer;
        width: auto;
    }

.ibutton-red {
    background-color: #EA1E30;
    color: white;
}

