<!DOCTYPE html>
<html lang="vi">
	<head>
		<title>Finding The Developer Job</title>
		<meta name="description" content="Đây là một trang web tổng hợp việc làm về IT"/>
		<meta name="keyword" content="IT, Developer Job"/>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../public/css/normalize.css"> <!-- Reset CSS-->
		<link rel="stylesheet" type="text/css" href="../public/css/style-main.css"> <!-- CSS main pape-->
	</head>
	<body>
		<div id="container">
			<div id="menu"> <!-- khu header chia thành 2 phan la menu va logo+slogan -->
			
					<div id="logo"><img src="../public/img/logo.png" alt="IT-Job" height="50%" width="50%"></div>
				
				
				
				<div id="main-menu">
					<ul>
						<li><a href="#">Home</a></li>
						<li>
							<a href="#">Job Title</a>
								<ul class="sub-menu-title">
									<li><a href="#">Senior</a></li>
									<li><a href="#">System Engineer</a></li>
									<li><a href="#">Project Manager</a></li>
									<li><a href="#">Software Developer</a></li>
									<li><a href="#">Mobie Developer</a></li>
								</ul>
						</li>
						<li>
							<a href="#">Job Skill</a>
								<ul class="sub-menu-skill">
									<li><a href="#">Java</a></li>
									<li><a href="#">PHP</a></li>
									<li><a href="#">.NET</a></li>
									<li><a href="#">Android</a></li>
									<li><a href="#">IOS</a></li>
								</ul>
						</li>
						<li>
							<a href="#">Company</a>
								<ul class="sub-menu-company">
									<li><a href="#">VNG</a></li>
									<li><a href="#">KMS Technology</a></li>
									<li><a href="#">FUJINET</a></li>
									<li><a href="#">FPT Software</a></li>
									<li><a href="#">Global CyberSoft</a></li>
								</ul>
						</li>
						<li><a href="#">Sign In</a></li>
					</ul>
				</div>	
				<div id="slogan">
						<p>Dream Job For Your Heaven Life</p>
					</div>		
			</div>
			<div id="finding">
				<h3>XXXX vaild job for you !</h3>
					<div id="search">
						<form>
    						<input type="search" placeholder="Search For Your Job">
						</form>
					</div>
			</div> <!-- khu tim kiem viec -->
			<div class="job-recommed">
				<h3>Job Recommed</h3>
				<div>
					<img src="../public/job-recommed.png" alt="job-recommed">
				</div>
			</div>
			<div class="row" id="company-recommed"> <!--chia khu de xuat cong ty thanh 3 cot -->
			<h3>Company Recommed</h3>
				<div id="box1" class="col">
					<img src="../public/img/company-logo/FPT-logo.png" alt="FPT logo">
					<h3>FPT Software</h3>
					<p>XX Job</p>
				</div>
				<div id="box2" class="col">
					<img src="../public/img/company-logo/fujinet-logo.png" alt="fujinet logo">
					<h3>Fujinet Technology</h3>
					<p>XX Job</p>
				</div>
				<div id="box3" class="col">
					<img src="../public/img/company-logo/vng-logo.png" alt="VNG logo">
					<h3>VNG</h3>
					<p>XX Job</p>
				</div>
			</div>
			<div id="footer">
				<p>Copyright &copy; 2017 ITJob.com</p>
			</div>		
		</div>	<!-- container -->	
	</body>
	
</html>